body {
    background-image: url('unnamed.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

p1 {
    font-size: 48px;
    font-family: Roboto;
    color: #E8E8E8;
    font-weight: normal;
}

p2 {
    font-size: 26px;
    font-family: Roboto;
    color: #ABABAB;
    font-weight: 300;
}

pa {
    font-size: 16px;
    font-family: Roboto;
    color: #ECECEC;
    font-weight: 300;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #E5E5E5;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    z-index: 999;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 14.25%;
}

.navbar a:hover {
    background: white;
    color: #707070;
}

.main {
    padding: 16px;
    margin-top: 40px;
    height: 2000px;
}

.button {
    background-color: black;
    border-color: #E7E7E7;
    color: white;
    padding: 13px 25px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 18px;
}

.button:hover {
    background-color: white;
    border-color: #8A8A8A;
    color: black;
}

.pay {
    background-color: #2192FF;
    border: none;
    color: white;
    padding: 13px 25px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-radius: 18px;
}

.pay:hover {
    background-color: #0082FF;
    border: none;
    color: white;
}

#show {
    color: #7E8FFF;
    font-size: 32px;
    font-family: Roboto;
}

.imgzoom:hover img {
    transition: transform .2s;
    filter: brightness(150%);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
    cursor: pointer;
}

hr.color {
    border: 0.5px solid white;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 190px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
